{% extends "base.html" %}
{% load bottom_bar %}
{% load gravatar %}
{% load javascript %}
{% load threadedcomments_tags %}
{% load markup %}

{% block head %}
{% endblock %}

{% block title %}{{ commit.title }}{% endblock %}

{% block content %}
<h2 style="float:left">{{ commit.title }}</h2>
<div class="clear"></div>

{% autoescape off %}
    {{ commit.summary }}
{% endautoescape %}

{% if commit.diff %}
    <h2>Changes</h2>
    {% autoescape off %}
        {{ commit.diff }}
    {% endautoescape %}
{% endif %}

<div id="comments">
<a href="#comments" />
        {% if user.is_authenticated %}

        {% get_comment_form for commit as form %}
        <form action="/comments/post/" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            <div {% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
            {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
            {% ifequal field.name "url" %}style="display:none;"{% endifequal %}
            {% ifequal field.name "name" %}style="display:none;"{% endifequal %}>
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{% url dashboard.views.commits.show commit.project.url_path commit.url_path %}#comments"/>
            <input type="submit" name="post" class="modebutton" value="Post" />
        </form>
        {% endif %}

        {% get_comment_list for commit as comment_list %}
        {% for comment in comment_list|fill_tree|annotate_tree %}

        {% ifchanged comment.parent_id %}
        {% else %}
            {# </li> #}
        {% endifchanged %}

        {% if not comment.open and not comment.close %}
            </li>
        {% endif %}

        {% if comment.open %}
            <ul>
        {% endif %}

        <li{% if comment.last %} class="last"{% endif %}>
        <a href="{% url dashboard.views.users.profile comment.user_id %}">{{ comment.user_name }}</a>:
        {{ comment.comment|urlizetrunc:33|markdown }}

        {% if user.is_authenticated %}
        <a class="comment-replylink" href="javascript: $('.com-{{comment.id}}').show();">Reply</a>

        {% get_comment_form for commit as form with comment.id %}
        <form style="display: none;" class="com-{{comment.id}}" action="/comments/post/" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            <div {% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
            {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
            {% ifequal field.name "url" %}style="display:none;"{% endifequal %}
            {% ifequal field.name "name" %}style="display:none;"{% endifequal %}>
                {{ field }}
            </div>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="next" value="{% url dashboard.views.commits.show commit.project.url_path commit.url_path %}#comments"/>
            <input type="submit" name="post" class="modebutton" value="Post" />
            <a class="modebutton" href="javascript: $('.com-{{comment.id}}').hide();">Cancel</a>
        </form>
        {% endif %}

        {% if comment.added_path %} ADDED {% endif %}

        {% for close in comment.close %}
            </li>
        </ul>
        {% endfor %}

        {% endfor %}
        </div> <!--comments-->

{#{% bottom_bar commit 0 %} // commented out #}

{% endblock %}