{% extends "base.html" %}

{% block extratitle %}• About{% endblock %}

{% block content %}
    <h2>About</h2>
    <div class="clear"></div>
    <div class="extra-content">
        <div class="feed-item">
            <p>Treehouse is the central project dashboard for NUS Hackers. We use this site to share knowledge, links, track project updates, and coordinate programing efforts. Think of Treehouse as a watchtower for all activity across the NUS Hackers.</p>
            <p>The reason for Treehouse's existence is so that we can <em>learn more</em> from each other's posts, comments and hacks.</p>

            <h3>About NUS Hackers </h3>
            <p>NUS Hackers is a student-run organization committed to the spread of hacker culture & free/open-source software at the National University of Singapore. We provide a support system for hackers in NUS who are currently building things (be it for charity, business or pleasure). We also hold workshops, run hackfests, and maintain open source code for the NUS community. More information at <a href="http://nushackers.org/about">http://nushackers.org/about</a>.</p>

            <h3>Site Colophon</h3>
            <p>This site is built in Python, on Django, and is completely <a href="https://github.com/nushackers/Observatory">open source</a>. It was forked from software written by the good people over at the <a href="http://rcos.rpi.edu/">Rensselaer Center For Open Source</a>.</p>
            <p>Site done in 6 days over the 2011 December holidays by <a href="/user/2/">ejames</a>.</p>
        </div>
    </div>
{% endblock %}