{% extends "base.html" %}

{% block extratitle %}• Guidelines{% endblock %}

{% block content %}
    <h2>Community Guidelines</h2>
    <div class="clear"></div>
    <div class="extra-content">
        <div class="feed-item">
        <h3>A quick note:</h3>
        <p>The reason for Treehouse's existence is so that we can <em>learn more</em> from each other's posts, comments and hacks. This reason motivates many of the guidelines below.</p>

        <h3>What makes a good submission on Treehouse?</h3>
            <p>A good submission to Treehouse would be anything a growing hacker would be interested in. That means:</p>
            <ol><li>Submissions that teach people things</li>
            <li>Submissions that gratify one's intellectual curiosity.</li></ol>
        <p>A good submission values <strong>uniqueness</strong> and <strong>learning potential</strong> over novelty.</p>

        <h3>What makes a bad submission on Treehouse?</h3>
            <p>Memes, funny videos, most stories about politics, crime, or sports, unless they're indicative of some interesting new phenomenon.</p>
            <p>Blatant self promotion is a bad submission. Self-promotion isn't what this site is about (refer to Quick Note, above). Linking to your site and asking for feedback is ok so long as the post is honest. Remember that self promotion can be earned &mdash; if you consistently post thought-provoking comments or links on the site, people will click through to your profile to know you better.</p>
            <p>In a nutshell, everything that detracts from a good learning experience is a bad submission to Treehouse.</p>
        <h3>Comments</h3>
            <p>Don't be creepy. You know that guy. Don't be that guy.</p>
            <p>Do unto others as you would be done unto you. That means not saying things you wouldn't say in a face to face conversation.</p>
            <p>Reply to the argument, don't call names. "You obviously don't know what you're talking about, X is Y, not Z." can be shortened to "X is Y, not Z."</p>
            <p>Don't complain about downvotes. Nothing can be done about it, and it's rather boring to read.</p>
            <p>Don't uppercase for emphasis. Markdown is enabled across this site; use it.</p>
        </div>
    </div>
{% endblock %}