{% extends "base.html" %}
{% load event_bubble %}

{% block title %}{{ project.title }} • Blog{% endblock %}

{% block extracontent %}
    <h2><a href="{% url dashboard.views.projects.show project.url_path %}">{{ project.title }}</a> \ Blog</h2>
    {% if user in project.authors.all %}
    <div style="position: relative; right: -700px; top: 20px;">
        <a href="{% url dashboard.views.blogs.write_post project.id %}"
           class="modebutton">
            Write a post
        </a>
    </div>
    {% endif %}
    {% if posts %}
		{% for post in posts %}
			{% event_bubble post 0 1 "post" %}
        {% endfor %}
    {% else %}
        <h2>No posts yet!</h2>
    {% endif %}
{% endblock %}
