/* events */
.event-gravatar {
    margin: 15px 0px;
    border: 0px;
    padding: 0px;
}

.event-author {
  position: absolute;
  top: 5px;
  left: -60px;
  width: 40px;
  height: 40px;
  padding: 0px;

  z-index: -1px;
}

.event-author-small {
  position: absolute;
  top: 3px;
  left: -35px;
  width: 40px;
  height: 40px;
  padding: 0px;

  z-index: -1px;
}

.post {
  line-height: 1.4em;
}

.post img {
	max-width: 100%;
}
